:root {
  --primary: #1c1f20;
  --light: #fff;
  --gray2: #bbb;
  --roundness: 0.45rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15pt;
}
:root * {
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary);
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.brand-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brand-image > .icon {
  font-size: 9em;
}
.brand-image .mail {
  color: inherit;
  font-size: 0.8em;
  color: #a8a8a8;
}
.brand-image .mail:hover, .brand-image .mail:active, .brand-image .mail:visited {
  color: inherit;
}

.hero-banner {
  width: 90dvw;
  max-width: 1200px;
  box-shadow: 20px 20px 75px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: var(--roundness);
  height: 80dvh;
  max-height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-banner .brand-image {
  margin-bottom: 1em;
}
.hero-banner .link-list {
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner .link-list > li {
  margin: 0.2em 0.5em;
  height: 1.5rem;
}
.hero-banner .link {
  text-decoration: none;
  color: inherit;
  transition: font-size 180ms ease-in-out;
}
.hero-banner .link:hover, .hero-banner .link:active, .hero-banner .link:visited {
  color: inherit;
}
.hero-banner .link:hover {
  transition: font-size 180ms ease-in-out;
}
.hero-banner .link:hover {
  font-size: 1.1em;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
}

.resume-section {
  height: 80dvh;
  max-height: 80dvh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--gray2) var(--primary);
  scrollbar-base-color: var(--gray2);
  box-shadow: 0 0 75px rgba(0, 0, 0, 0.5);
  width: 90dvw;
  max-width: 1200px;
  font-size: 12pt;
  box-sizing: border-box;
  padding: 2em 4em 2em;
}
.resume-section h1,
.resume-section h2,
.resume-section h3 {
  margin: 0.3em 0;
}
.resume-section > .title {
  margin-top: 1em;
  font-size: 1.6;
  font-weight: 500;
}
.resume-section > .resume-content {
  margin-top: 1em;
}
@media (max-width: 800px) {
  .resume-section {
    padding: 0 2em 0;
    width: 100dvw;
    height: 100dvh;
    max-height: 100dvh;
    font-size: 16pt;
  }
}

.resume-content {
  color: var(--gray2);
}
.resume-content > .title {
  color: var(--light);
  font-weight: 400;
  font-size: 1.3em;
}

.content-info > .role {
  font-weight: 400;
  font-size: 0.9em;
  color: var(--light);
}
.content-info > .stack {
  font-weight: 400;
  font-size: 0.9em;
  color: var(--light);
}

.details-list {
  padding-left: 1.5em;
}
.details-list > .detail {
  margin: 0.5em 0;
  font-size: 1em;
}
.details-list > .detail > .link {
  color: white;
}
.details-list > .detail > .link:active, .details-list > .detail > .link:visited {
  color: white;
}
.details-list > .detail > .link:hover {
  color: var(--gray2);
}

/*# sourceMappingURL=style.css.map */
