@use 'mixins';

:root {
  --primary: #1c1f20;
  --light: #fff;
  --gray2: #bbb;
  --roundness: 0.45rem;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15pt;

  * {
    margin: 0;
    padding: 0;
  }
}

body {
  background: var(--primary);
  color: white;
}

main {
  @include mixins.centralized-flex;
  width: 100dvw;
  height: 100dvh;
}