@mixin centralized-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-size-hover-transition {
  transition: font-size 180ms ease-in-out;

  &:hover {
    transition: font-size 180ms ease-in-out;
  }
}

@mixin viewport-dimensions {
  width: 90dvw;
  max-width: 1200px;

  height: 80dvh;
  max-height: 80dvh;
}

@mixin reset-link {
  color: inherit;
  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }
}

@mixin scrollbar-style {
  scrollbar-width: none;
  scrollbar-color: var(--gray2) var(--primary);
}

@mixin rounded-border {
  border: 1px solid white;
  border-radius: var(--roundness);
}

@mixin shadow-style {
  box-shadow: 0 0 75px rgba(0, 0, 0, 0.5);
}