:root {
  --primary: #1c1f20;
  --light: #FFF;
  --gray2: #BBB;
  --roundness: 0.45rem;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15pt;

  * {
    margin: 0;
    padding: 0;
  }
}

@mixin centralized-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-size-hover-transition {
  transition: font-size 180ms ease-in-out;

  &:hover {
    transition: font-size 180ms ease-in-out;
  }
}

@mixin section-width {
  width: 90dvw;
  max-width: 1200px;
}

@mixin reset-link {
  color: inherit;
  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }
}

@mixin scrollbar-style {
  scrollbar-width: thin;
  scrollbar-color: var(--gray2) var(--primary);
  scrollbar-base-color: var(--gray2);
}

body {
  background: var(--primary);
  color: white;
}

main {
  @include centralized-flex;
  width: 100dvw;
  height: 100dvh;
}

.brand-image {
  @include centralized-flex;
  flex-direction: column;

  > .icon {
    font-size: 9em;
  }

  .mail {
    @include reset-link;
    font-size: 0.8em;
    color: #a8a8a8;
  }
}
.hero-banner {
  @include section-width;
  box-shadow: 20px 20px 75px rgba(0, 0, 0, 0.5);

  .brand-image {
    margin-bottom: 1em;
  }

  border: 1px solid white;
  border-radius: var(--roundness);

  height: 80dvh;
  max-height: 80dvh;

  @include centralized-flex;
  flex-direction: column;

  .link-list {
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 15em;

    @include centralized-flex;

    > li {
      margin: 0.2em 0.5em;
      height: 1.5rem;
    }
  }

  .link {
    text-decoration: none;
    @include reset-link;

    @include font-size-hover-transition;

    &:hover {
      font-size: 1.1em;
    }
  }
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
}

.resume-section {
  height: 80dvh;
  max-height: 80dvh;
  overflow-y: scroll;
  
  @include scrollbar-style;
  
  box-shadow: 0 0 75px rgba(0, 0, 0, 0.5);
  @include section-width;

  h1,
  h2,
  h3 {
    margin: 0.3em 0;
  }

  font-size: 12pt;

  padding: 0 2em 1em;

  > .title {
    margin-top: 1em;
    font-size: 1.6;
    font-weight: 500;
  }

  > .resume-content {
    margin-top: 1em;
  }
}

.resume-content {
  color: var(--gray2);
  
  > .title {
    color: var(--light);
    font-weight: 400;
    font-size: 1.3em;
  }
}

.content-info {
  > .role {
    font-weight: 400;
    font-size: 0.9em;
    color: var(--light);
  }

  > .stack {
    font-weight: 400;
    font-size: 0.9em;
    color: var(--light);
  }
}

.details-list {
  padding-left: 1.5em;

  > .detail {
    margin: 0.5em 0;
    font-size: 1em;
  }
}
