@use "mixins";
@use "base";

// Fork-me Ribbon
.forkme-ribbon {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
  right: 0;

  > a {
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--light);
    background: var(--primary);
    padding: 0.7em 0;
    top: 2.2em;
    right: -3.2em;
    width: 14.14em;
    transform: rotate(45deg);
    
    @include mixins.reset-link;

    &:hover {
      background: var(--light);
      color: var(--primary);
    }
  }
  
  height: 10em;
  width: 10em;
}

// Hero Banner Section
.hero-banner {
  position: relative;
  @include mixins.viewport-dimensions;
  @include mixins.centralized-flex;
  @include mixins.rounded-border;

  flex-direction: column;

  .brand-image {
    margin-bottom: 1em;
  }

  .link-list {
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 15em;

    @include mixins.centralized-flex;

    > li {
      margin: 0.2em 0.5em;
      height: 1.5rem;
    }
  }

  .link {
    text-decoration: none;
    @include mixins.reset-link;
    @include mixins.font-size-hover-transition;

    &:hover {
      font-size: 1.1em;
    }
  }
}

.brand-image {
  @include mixins.centralized-flex;
  flex-direction: column;

  > .icon {
    font-size: 9em;
  }

  .mail {
    @include mixins.reset-link;
    font-size: 0.8em;
    color: #a8a8a8;
  }
}


// Resume Section
.resume-section {
  @include mixins.scrollbar-style;
  @include mixins.viewport-dimensions;
  @include mixins.rounded-border;
  @include mixins.shadow-style;
  
  
  h1,
  h2,
  h3 {
    margin: 0.3em 0;
  }

  overflow-y: scroll;  
  font-size: 12pt;
  box-sizing: border-box;
  padding: 2em 4em 2em;

  > .title {
    margin-top: 1em;
    font-size: 1.6;
    font-weight: 500;
  }

  > .resume-content {
    margin-top: 1em;
  }

  @media (max-width: 800px) {
    padding: 0 2em 0;
    width: 100dvw;
    height: 100dvh;
    border: none;
    
    max-height: 100dvh;
    font-size: 14pt;
  }
}

.resume-content {
  color: var(--gray2);

  > .title {
    color: var(--light);
    font-weight: 400;
    font-size: 1.3em;
  }
}

.content-info {
  > .role {
    font-weight: 400;
    font-size: 0.9em;
    color: var(--light);
  }

  > .stack {
    font-weight: 400;
    font-size: 0.9em;
    color: var(--light);
  }
}

.details-list {
  padding-left: 1.5em;

  > .detail {
    > .link {
      color: white;
      &:active,
      &:visited {
        color: white;
      }
      &:hover {
        color: var(--gray2);
      }
    }
    margin: 0.5em 0;
    font-size: 1em;
  }
}

// Tools sections

.tools-section {
  @include mixins.scrollbar-style;
  @include mixins.viewport-dimensions;
  @include mixins.rounded-border;
  @include mixins.shadow-style;
}